*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-transform: uppercase;
}
body{
    background-image: linear-gradient(90deg,red,blue,green);
    height: 100vh;
}
.wraper{
    height: 60vh;
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    perspective: 1000px;
}
.box{
    width: 250px;
    height: 250px;
    position: relative;
    top: 100px;
    left: 100px;
    transform-style: preserve-3d ;
    transform: rotateY(30deg);
    animation: ism 5s infinite;
}
@keyframes ism {
 0%{
    transform: rotateX(45deg) rotateY(-45deg);
 }
 
 25%{
    transform: rotateX(-45deg) rotateY(-45deg);
 } 

 50%{
    transform: rotateX(45deg) rotateY(45deg);
 } 
 75%{
    transform: rotateX(-45deg) rotateY(45deg);
 } 
 100%{
    transform: rotateX(45deg) rotateY(-45deg);
 } 
}
.tomonlar{
    width: 250px;
    height: 250px;
    color: white;
    background-color: black;
    text-align: center;
    padding: 100px 0px;
    border: 1px solid ;
    box-sizing: border-box;
    font-size: 32px;
    position: absolute;
}
.front{
    transform: translateZ(125px);
}
.back{
    transform: translateZ(-125px);
}
.left{
    right: 125px;
    transform: rotateY(-90deg);
}
.right{
    left: 125px;
    transform: rotateY(90deg);
}
.top{
    bottom: 125px;
    transform: rotateX(90deg);
}
.bottom{
    top: 125px;
    transform: rotateX(-90deg);
}
